<div>
    <div *ngIf="isConnected;else Login">
        <profile-settings class="left-component"></profile-settings>
        <profile-friends class="right-component"></profile-friends>
        <div class="center">
            <button (click)="changeState()" >
                {{button_newFriend}}
            </button>
            <profile-new-friend *ngIf="newFriend"></profile-new-friend>    
        </div>
    </div>
    <ng-template #Login>
        <profile-auth></profile-auth>
    </ng-template>
</div>

