.right-component {
    width: 50%;
    float: right;
    height: 300px;
}

.left-component {
    width: 50%;
    float: left;
    height: 300px;
}

.center {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}