<div>
    <form #form="ngForm" (submit)="updateUser()" class="center">
        <mat-card-content>
            <mat-card-title>Settings</mat-card-title>
            <mat-form-field class="full-width">
                <input matInput placeholder="age" type="number" name="age" [(ngModel)]="settings.age"/>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="family" type="text" name="family" [(ngModel)]="settings.family"/>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="race" type="text" name="race" [(ngModel)]="settings.race"/>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="food" type="text" name="food" [(ngModel)]="settings.food"/>
            </mat-form-field>
            <mat-card-actions>
                <button type="submit" >Update Info</button>
            </mat-card-actions>
        </mat-card-content>
    </form>
</div>
